.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 55%;
    background: url('./../../assets/email.gif') center no-repeat;
    background-size: 40% auto;
    opacity: 0.5;
    z-index: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border: 1px solid white;
}

.title {
    color: white;
    font-weight: 200;
    font-size: 48px;
}

.spin {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}