.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logout {
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    max-height: 40px;
}

.icon-logout {
    font-size: 28px;
    color: red;
    cursor: pointer;
}

.padding {
    margin-left: 15px;
}