.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #3C80FF;
}

.icon:hover {
    transform: scale(1.2);
}

.logout {
    margin-bottom: 10px;
    cursor: pointer;
}

.img-mail {
    margin-top: 10px;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.first-lay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.active-icon {
    padding: 2px;
    border-radius: 5px;
    background-color: #c9dbf0;
}

.icon-logout {
    border-radius: 5px;
    padding: 2px;
}