body {
  background-color: #007BFF;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.message-container {
  position: fixed;
  z-index: 9999 !important;
}

.ant-message {
  z-index: 9999 !important;
  position: fixed !important;
}